
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
*{
    margin:0;
    width:auto ;
    height: auto;
}
nav img{

    width: 250px;
    height: 50px;
} 
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float:right;
}
nav{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav li {
    margin-right: 20px; 
    border-right: 2px solid black; 
    padding-right: 20px; 
}
a {
    text-decoration: none;
    color: black;
    font-family: 'Satisfy', cursive;
    font-size:40px ;
    
}
    .nav li {
        float: left;
        margin-left: 20px;
    }
    a:hover {
        color: #B7E3DF;
    }
header img{
   width: 100%;
}
aside{
    display: inline-flex;
    height: 102px;
    align-items: center;
    background: #B7E3DF;
    width: 100%;
    margin-top:-10px ;
}
aside h1{
    color: #000;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 80px;
    font-weight: 400;
    margin-left:600px;
    text-transform: uppercase;
}
table {
    width: 25%;
    margin-left:200px;
}

table, th, td {
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    width: 30%;
}
 tr:nth-child(even) {
    background-color: #CFF;
}

/* Odd rows */
tr:nth-child(odd) {
    background-color: #FFF;
}
input[type="text"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 5px;
}

select {
    width: 100%;
    padding: 5px;
}
#submit{
  margin-left:500px;
}

#person img{
    width: 300px;
height: 423px;
float:right;
position: relative;
bottom:350px;
right:200px;

}
#person h1 {
    width: 500px;
    text-indent:20px;
    font-family: 'Ruda', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    text-align:left ;
    left:1000px;
    top:100px;
}
footer {
    background-color: #B7E3DF;
    width: 1519px;
    height:460px;
    margin-top:130px ;
}

#icons{
    color:white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    font-size: 40px;
    position: relative;
    right:400px;
}
#image{
    float:right;
    margin-top:-319px;
} 
footer p {
    font-size:25px ;
    margin-left:-300px;
    margin-top:-140px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
fieldset{
    width: 1200px;
    height:400px ;
    margin-left:100px;
    margin-top:50px;
}