@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');
*{
    margin:0;
    width:auto ;
    height: auto;
}
nav img{

    width: 250px;
    height: 50px;
} 
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float:right;
}
nav{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav li {
    margin-right: 20px; 
    border-right: 2px solid black; 
    padding-right: 20px; 
}
a {
    text-decoration: none;
    color: black;
    font-family: 'Satisfy', cursive;
    font-size:40px ;
    
}
    .nav li {
        float: left;
        margin-left: 20px;
    }
    a:hover {
        color: #B7E3DF;
    }
header img{
   width: 100%;
}
aside{
    display: inline-flex;
    height: 102px;
    align-items: center;
    background: #B7E3DF;
    width: 100%;
    margin-top:-10px ;
}
aside h1{
    color: #000;
    text-align: center;
    font-family: Sansita Swashed;
    font-size: 80px;
    font-weight: 400;
    margin-left:400px;
}

#event1 img{
    float:right;
    position: relative;
    right: 200px;
}

#event1 p {
width: 800px;
text-indent:20px;
text-align: right;
font-family: 'Ruda', sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: relative;
top:100px;
left:200px;
}

#event1 h2{
    text-align: center;
font-family: Sansita swashed;
font-size: 40px;
font-weight: 400;
text-decoration: solid;
position: relative;
top:70px;
right:80px
}

#event1 h3{
    font-size: 30px;
    line-height: normal;
    text-decoration: solid;
    font-family: Sansita swashed;
    position: relative;
    top:80px;
   padding-left:570px;
}

#nov{
        display: inline-flex;
        height: 102px;
        align-items: center;
        background: #B7E3DF;
        width: 100%;
        margin-top:100px;
}
#nov h1{
    color: #000;
    text-align: center;
    font-family: Sansita Swashed;
    font-size: 80px;
    font-weight: 400;
    margin-left:400px;

}
#events3 img {

    width: 271px;
height: 293px;
position: relative;
top:50px;
left:50px;
}
#events3 h1{
    text-align: center;
font-family: Sansita swashed;
font-size: 60px;
font-weight: 400;
text-decoration: solid;
position: relative;
top:-270px;
right:250px;
}
#events3 h2{
    font-size: 30px;
    line-height: normal;
    text-decoration: solid;
    font-family: Sansita swashed;
    position: relative;
   padding-left:350px;
   top:-260px;
}
#events3 p {
    width: 1100px;
text-indent:20px;
text-align: left;
font-family: 'Ruda', sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: relative;
left:350px;
top:-230px;
}
footer {
    background-color: #B7E3DF;
    width: 1519px;
    height:460px;
    margin-top:-200px ;
}

#icons{
    color:white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    margin-left:-1100px;
    font-size: 40px;
}
#image{
    float:right;
    margin-top:-319px;
} 
footer p {
    font-size:25px ;
    margin-left:-300px;
    margin-top:-140px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}