@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
*{
    width: auto;
    height: auto;
}
nav img{

    width: 250px;
    height: 50px;
} 
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float:right;
}
nav{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav li {
    margin-right: 20px; 
    border-right: 2px solid black; 
    padding-right: 20px; 
}
a {
    text-decoration: none;
    color: black;
    font-family: 'Satisfy', cursive;
    font-size:40px ;
    
}
    .nav li {
        float: left;
        margin-left: 20px;
    }
    a:hover {
        color: #B7E3DF;
    }
header img{
   width: 101.1%;
   margin-left:-10px;
}
aside{
    display: inline-flex;
    height: 102px;
    align-items: center;
    background: #B7E3DF;
    width: 101.1%;
    margin-top:-5px ;
    margin-left:-10px;
}
aside h1{
    color: #000;
    text-align: center;
    font-family: Sansita Swashed;
    font-size: 80px;
    font-weight: 400;
    float:center ;
    margin-left:400px;
    
}
#food1 figcaption 
{
  text-align: right;
  margin-left:500px;
}
#food1 img {
    width: 500px;
    height: 399px;
    float:right;
    margin-right:100px ;
    margin-top:-50px;
}
    #food1 p{
    width: 900px;
    color: #000;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    text-align:left ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 0.3em;
    margin-left:150px;
    
}
#food1 h1{
    color: #000;
    text-align: center;
    font-family: Satisfy;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    margin-left:800px;
    margin-top:-5px;

}
#food2 img{
    width: 700px;
    height: 399px;
    float:left;
    margin-left:50px;
    margin-top:-40px;
}
    #food2 p{
        width: 700px;
        color: #000;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        text-align:left ;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        position: relative;
        margin-left:800px;
        float:left;
        top:-380px;
        line-height: 0.001em;

        
}
#food2 h1{
    color: #000;
    text-align: center;
    font-family: Satisfy;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    float:left;
    margin-top:160px;
    margin-left:50px;

}
#food3 img {
    width: 700px;
    height: 399px;
    float:right;
    margin-right:30px ;
    margin-top:-250px;
}

#food3 h1{
    color: #000;
    text-align: center;
    font-family: Satisfy;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    float: right;
    margin-top:-350px;
    margin-right:100px ;

}

#food3 p{
    width: 900px;
        color: #000;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        text-align:left ;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        position: relative;
        float:right;
        right:550px;
        bottom:400px;
        line-height: 0.001em;

}
footer {
    background-color: #B7E3DF;
    width: 1519px;
    height:460px;
    margin-top:1200px;
    margin-left:-10px;
}

#icons{
    color:white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    margin-left:-1100px;
    font-size: 40px;
    position: relative;
    top:-310px;
}
#image{
    float:right;
    margin-top:-655px;
} 
footer p {
    font-size:25px ;
    margin-left:-300px;
    margin-top:-100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}